.sideBar{
    border: 2px solid red;
    background-color: var(--background-primary);

}



.MilkProduction {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    column-gap: 1rem;
}

.MilkProduction>div {
    border: 2px solid green;
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background-position: center;
    background-size: contain;
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #1CB5E0, #010196);
    padding: 1rem;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 5px;
    color: white;
}
.MainPage >h1{
    font-size: var(--fs3);
}

.MilkProduction a {
    text-decoration: none;
    color: white;
    display: block;
    text-align: right;
    font-size: var(--fs4);
    font-weight: normal;
    display: flex;
    justify-content: end;
    align-items: center;
}

.MilkProduction>div h1 {
    font-size: var(--fs3);
}

.dashBoardBody {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-auto-rows: 1fr;
    column-gap: 1rem;
    grid-template-columns: 1fr 2.5fr;
}

.sideBar
{
    border-radius: 5px;
    padding: 1rem;
    
}
.sideBar >h1
{
font-size: var(--fs3);
    
}

.sideBar a
{
    /* border:2px solid red; */
    width: 100%;
    background-color: var(--background-secondary);
    border-radius: 5px;
    height: 100%;
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: var(--fs4);
    
}
.sideBar ul{
    padding: 0;
}

.sideBar a:hover{
    background-color: var(--accent);
    color: white;
    transition: 0.3s all ease-in-out;
}
.sideBar li
{

    /* border: 2px solid; */
    border-radius: 5px;
    list-style: none;
    margin: 1rem 0;
}

.CowStats
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem;
    margin: 2rem 0;
}

.CowStats > div
{
   border: 2px solid green;
   background-color: var(--background-primary);
   padding:1rem;
}